<!-- Arm 64 Release profile optimised for RPI 3 -->
<Project>
    <PropertyGroup>
        <PublishAot>true</PublishAot>
        <StripSymbols>true</StripSymbols>
        <DebuggerSupport>false</DebuggerSupport>
        <StackTraceSupport>false</StackTraceSupport>
        <InvariantGlobalization>true</InvariantGlobalization>
        <IlcUseLLVM>true</IlcUseLLVM>
        <IlcInstructionSet>armv8-a</IlcInstructionSet>
    </PropertyGroup>
</Project>
